ul li {
	list-style-type: none;
}
.view {
  transition: all .5s;	
}
.fade-enter-active {
  opacity: 1;
  transition: all .5s;
}
.fade-enter {
  opacity: 0;
  transition: all .5s;
}	
.fade-leave-active {
  opacity: 0;
  transition: all .5s;
}