@import "../styles/base/_mixin";
.edit-text-container {
	height: 100%;
	padding: 10px;
	.edit-area {
		height: 70%;
    	overflow: scroll;	
    	width: 100%;
	}
	.select-color {
		position: relative;
		span {
			position: absolute;
    		bottom: 1px;
		}
		.color-picker  {
			@include center(80%);
		}
	}
	.btn-group {
		position: absolute;
	    bottom: 0;
	    width: 100%;
		.button {
			display: block;
			margin-bottom: 10px;

		}
	}
}