@import "../styles/base/rem";
$btnHeight: 100px;
$colorHeight: 103px;
.edit-text-container {
	height: 100%;
	padding: 10px;
	.edit-area {
    	overflow: scroll;	
    	width: 100%;
    	height: 54%;
	}
	.select-color {
		position: absolute;
		bottom: $btnHeight + 20px;
		width: 100%;
		.color-picker  {
			width: 80%;
			margin: 0 auto;
		}
	}
	.btn-group {
		position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: $btnHeight;
		.button {
			display: block;
			margin-bottom: 10px;

		}
	}
}