@import "./base/rem.scss";
@import "../styles/base/_mixin";

.container {
	height: 100%;
	.bg-content {
		position: relative;
		height: 70%;
		background-image: url(../assets/index/bg-index.png);
		box-shadow: 0px 4px 8px #ccc8c8;
		img {
			width: 100%;
			position: absolute;
    		bottom: 0;
		}
	}
	.upload-content {
		position: relative;
		height: 30%;
		.upload {
			background-color: #F5ABAC;
			border-radius: 99px;
			@include center(100/$ppr,100/$ppr);
		}
	}
}
