@import "base/_color";
.login {
	text-align:center;
	.form-col {
		line-height: 30px;
		span {
			display: inline-block;
			width: 20%;
		}
		input {
			width: 40%;
			border:1px solid $blue;
			&:focus {
				border:none;
			}
		}
		.btn {
			width: 20%;
    		margin: 0 auto;
			color:$white;
			background-color: $blue;
			padding: 5px 10px;
			border-radius: 10px;
		}
	}
}